body{
    background-color: aqua;
    color: rgb(0, 0, 0);
}
@media screen and (max-width:992px){
    body{
        background-color: rgb(0, 17, 255);
        color: wheat;
    }
}
@media screen and (max-width:700px){
    body{
        background-color: rgb(255, 0, 0);
        color: wheat;
    }
}
